<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Recipe</title>
</head>
<body>
    <h1 value={{user.id}}>Welcome {{user.first_name}}!</h1>
    <h1 value={{recipe.id}}>{{recipe.name}}</h1>
    <table>
        <thead>
            <tr>
                <th>Description:</th>
                <th>Under 30 Minutes?</th>
                <th>Instructions</th>
                <th>Date Made:</th>
                <th>Created By:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ recipe.description }}</td>
                <td>{{ recipe.under_30_min }}</td>
                <td>{{ recipe.instructions }}</td>
                <td>{{ recipe.date_made }}</td>
                <td>{{ recipe.user.first_name }} {{ recipe.user.last_name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Logout</a>
</body>
</html>